* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;
    font-family: 'Almarai', sans-serif;
    font-family: 'Roboto', sans-serif;
}

html {
    position: relative;
    font-size: 62.5%
    }

.header{
    border: solid black 0.12rem;
    font-weight: bolder;
    background-image: url("8289979_25331.jpg");
    background-size: cover;
    width: 100%;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
}

.body{
    padding: 1rem;
}

.entete{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
}

.entete h1{
    font-size: 1.8rem;
}

.identite{
    margin: 1rem;
    width: 20rem;
    line-height: 2rem;
}

.metier{
    text-align: center;
    width: 100%;
    padding: 0.5rem;
}

.accroche{
    justify-content: center;
    align-items: center;
    color: black;
    margin: 0.5rem 1rem 1rem 1rem;
}
.main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.blocks{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0rem;
    border: solid black 0.12rem;

}

.blocks_intra{
    margin: 1rem 1rem 0.5rem 1rem;
}

.colonne{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 1rem;
}

.w-35 {
    width: 35%;
    margin-left: 0rem;
    margin-bottom: 0rem;

}

.w-65 {
    width: 65%;
}

.liste_logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
}

.liste_footer{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    line-height: 2.8rem;
}

.coordonnees{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.liens_sociaux{
    list-style-type: none;
    width: 2rem;
    line-height: 2.5rem;
    margin-right: 1rem;
}

.liens_mail{
    display: flex;
    flex-direction: row;
    padding-left: 50rem;
}

.liens_tel{
    display: flex;
    flex-direction: row;
}

.liens_correction{
    padding: 1rem
}

.liens_profils{
    line-height: 2.8rem;
    margin-left: 1rem;
    list-style-type: none;
}

.blocks_intra_coordonnees{
        display: flex;
        flex-direction: row;
        margin: 1rem 1rem 0rem 0rem;
        justify-content: space-between;
}
.logo_PHP{
    width: 3.3rem;
}

.logo_MYSQL{
    width: 3.3rem;
}

.logo{
    width: 3rem;
}

.puce{
    padding: 1rem;
    margin: 0rem 0rem 0rem 0.5rem;
}

.titre{ 
    margin-bottom: 0.2rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: -2rem;
    padding: 0.2rem 0;
}

.titre h2{
    font-weight: bolder;
}

.sous_titre{ 
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
}

.box_titre{
    border: solid black 0.12rem;
    background: linear-gradient(to right, #f7d3df, #d1e2fe, #75bdd6);
}

.box_compétences{
    border: solid black 0.12rem;
    background-color: #f7d3df;
}


.formations_dates{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 0;
}

.formations_exp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 0;
}

.formations_col{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 0;
}
.bouton{
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    color: #eeeeee;
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    position:fixed;
    bottom:1%;
    right:1%;
}

.pad{
    padding-left: 1rem;
}

.survol:hover{
    background-color: blue;
}

.footer{
    border: solid black 0.12rem;
    margin-top: 1rem;
    font-size: 1.3rem;
    background-image: url("8289979_25331.jpg");
    background-size: cover;
}

.socials_2{
    display: flex;
    flex-direction: row;
}

.socials_1{
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem 1rem 1rem;
    justify-content: space-between;
}

@media print{

    html {
        position: relative;
        font-size: 62.5%
        }

    .header{
        background-image: url("8289979_25331.jpg");
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        position: relative;
    }

    .main{
        line-height: 2.2rem;
        font-size: 1.3rem;
    }

    .liste_logo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: flex-start;
        gap: 1rem;
    }

    .mb-1 {
        margin-bottom: 0.5rem;
    }

    .colonne{ 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    .blocks_intra_coordonnees{
        display: flex;
        flex-direction: row;
        margin: 1rem 1rem 0rem 0rem;
        justify-content: initial;
        gap: 12rem;
    }

    .formations_col{
        flex-direction: row;
    }

    .bouton{
        display: none;
    }

    .h3_print{
        width: 30%;
    }

    .titre{
        font-size: 1.3rem;
    }

    .socials_2{
        display: flex;
        flex-direction: row;
        /* margin-left: 10rem; */
    }
    
    .socials_1{
        display: flex;
        flex-direction: row;
        margin: 1rem;
        gap: 9rem;
    }

    .liens_mail{
        display: flex;
        flex-direction: row;
        padding-left: 2rem;
    }
}

@media screen and (max-width: 800px){
    .entete{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .identite{
        text-align: center;
    }

    .colonne{ 
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1rem 0rem 0rem 0rem;
    }

    .w-35 {
        width: 100%;
    }
    
    .w-65 {
        width: 100%;
    }

    .liste_logo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: flex-start;
        gap: 1rem;
    }

    .main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .blocks{
        display: flex;
        flex-direction: column;
        margin: 1rem 0rem 1rem 0rem;
        width: 100%;
    }

    .formations_col{
        display: flex;
        flex-direction: row;
        margin-top: 0rem;
    }

    .titre{
        text-align: center;
        text-transform: uppercase;
        margin-top: -2rem;
    }

    .box_correction{
        margin-top: -2rem;

    }
    
    .socials_2{
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .blocks_intra_coordonnees{
        display: flex;
        flex-direction: column;
        margin: 1rem 1rem 0rem 0rem;
    }

    .socials_2{
        display: flex;
        flex-direction: row;
    }
    
    .socials_1{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .box_compétences{
        border: solid black 0.12rem;
        background: linear-gradient(to right, #f7d3df, #d1e2fe, #75bdd6);
    }

    .liens_mail{
        display: flex;
        flex-direction: row;
        padding-left: 0rem;
    }

}